{% extends 'base.html' %}

{% block con %}
    <h1><b>투표소</b></h1>

    <div class="text-end">
        <a href="{% url 'vote:create' %}" class="btn btn-dark">토픽생성</a>
    </div>
    <div class="row">
        {% for i in tset%}
            <div class="col-sm-4 mt-4">
                <div class="card">
                    <!-- <img src="#" width="100%" class="card-img-top" alt="..."> -->
                    <div class="card-body" {% if user in i.voter.all %} style="background-color: rgba(255, 217, 0, 0.178);" {% endif %}>
                        <h5 class="card-title"><b><mark>{{i.subject}}</mark></b></h5>
                        <p class="card-text">{{i.content|truncatewords:10}}</p>
                        <div class="text-center">
                            {% if user in i.voter.all %}
                                <a href="{% url 'vote:detail' i.id %}" class="btn btn-dark">
                                    결과보기
                                </a>
                                {% if user == i.maker %}
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Tdelete">
                                        삭제하기
                                    </button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'vote:detail' i.id %}" class="btn btn-dark">
                                    투표하기
                                </a>
                                {% if user == i.maker %}
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#t{{forloop.counter}}">
                                        삭제하기
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty%}
            <h1>등록된 투표가 없습니다.</h1>
        {% endfor %}
    </div>
    {% for i in tset %}
        {% if user == i.maker %}
            <div class="modal fade" id="t{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{i.subject}} 삭제</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{i.voter.count}}명 참여했습니다.
                            그래도 삭제하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <a href="{% url 'vote:delete' i.id %}"><button type="button" class="btn btn-danger">삭제</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}