{% extends 'base.html' %}

{% block con %}
    <h1><b>UPDATE PAGE</b></h1>

    <!-- username 은 변경불가하도록 disabled 유지 -->
    <form enctype="multipart/form-data" method="post">
        {% csrf_token%}
        <label class="form-label mt-5">USERNAME</label>
        <input type="text" disabled value="{{user}}" class="form-control">

        <label class="form-label mt-4">EMAIL</label>
        <input name="em" type="text" value="{{user.email}}" class="form-control">
        <label class="form-label mt-4">USERPIC</label>
        <div class="row">
            <div class="col-sm-11">
                <input name="up" type="file" class="form-control">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-dark" type="button">기본값</button>
            </div>
        </div>
        <label class="form-label mt-4">COMMENT</label>
        <textarea name="com" class="form-control">{{ user.comment }}</textarea> 

        <div class="text-end mt-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                패스워드변경
            </button>
            <button class="btn btn-dark btn-lg">수정완료</button>
        </div>
    </form>



    <!-- Modal -->
    <form method="post" action="{% url 'acc:chpass' %}">
        {% csrf_token %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>패스워드 변경창</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input name='chp' type="password" placeholder="CURRENT PASSWORD" class="form-control">
                        <input name='np' type="password" placeholder="NEW PASSWORD" class="form-control mt-3">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button class="btn btn-primary">변경</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}